WaterFee.Web/Connected Services/ServiceReference1/ServAuthority.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DbServer.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DbServer.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://118.190.199.54:9009/DbServer/ServAuthority.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfEasyTreeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EasyTreeData" nillable="true" type="tns:EasyTreeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEasyTreeData" nillable="true" type="tns:ArrayOfEasyTreeData" />
  <xs:complexType name="EasyTreeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="checked" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="children" nillable="true" type="tns:ArrayOfEasyTreeData" />
      <xs:element minOccurs="0" name="iconCls" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EasyTreeData" nillable="true" type="tns:EasyTreeData" />
  <xs:complexType name="CommonResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LstObj" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="StrData1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrData2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrData3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tbl1" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Tbl2" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResult" nillable="true" type="tns:CommonResult" />
</xs:schema>