WaterFee.Web/Connected Services/ServiceReference1/ServAuthority2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://118.190.199.54:9009/DbServer/ServAuthority.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DbServer.DTOAuth" />
  <xs:import schemaLocation="http://118.190.199.54:9009/DbServer/ServAuthority.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DbServer.Model" />
  <xs:import schemaLocation="http://118.190.199.54:9009/DbServer/ServAuthority.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Sys_Login_CheckUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sUserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sPass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sUserIP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sUserMAC" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Login_CheckUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DbServer.DTOAuth" minOccurs="0" name="Sys_Login_CheckUserResult" nillable="true" type="q1:LogonUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Login_GetMenuByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="sSysTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Login_GetMenuByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_Login_GetMenuByUserIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Login_ChangePass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="sOldPass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sNewPass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Login_ChangePassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_Login_ChangePassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Menu_GetTree">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iDeleted" type="xs:int" />
        <xs:element minOccurs="0" name="iVisible" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Menu_GetTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DbServer.Model" minOccurs="0" name="Sys_Menu_GetTreeResult" nillable="true" type="q2:ArrayOfEasyTreeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Menu_GetSon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMenuID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iDeleted" type="xs:int" />
        <xs:element minOccurs="0" name="iVisible" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Menu_GetSonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_Menu_GetSonResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Menu_Qry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DbServer.DTOAuth" minOccurs="0" name="menu" nillable="true" type="q3:Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Menu_QryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_Menu_QryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Menu_Opr">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DbServer.DTOAuth" minOccurs="0" name="menu" nillable="true" type="q4:Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Menu_OprResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_Menu_OprResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Menu_BatchDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LstStr" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Menu_BatchDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_Menu_BatchDelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_OU_GetTree">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="iDeleted" type="xs:int" />
        <xs:element minOccurs="0" name="iEnabled" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_OU_GetTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DbServer.Model" minOccurs="0" name="Sys_OU_GetTreeResult" nillable="true" type="q6:ArrayOfEasyTreeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_OU_GetTree_Level">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_OU_GetTree_LevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DbServer.Model" minOccurs="0" name="Sys_OU_GetTree_LevelResult" nillable="true" type="q7:ArrayOfEasyTreeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Ou_GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iOuID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Ou_GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_Ou_GetByIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_OU_Opr">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DbServer.DTOAuth" minOccurs="0" name="OrgInfo" nillable="true" type="q8:OU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_OU_OprResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_OU_OprResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_OU_Menu_Qry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iOuID" type="xs:int" />
        <xs:element minOccurs="0" name="iMode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_OU_Menu_QryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DbServer.Model" minOccurs="0" name="Sys_OU_Menu_QryResult" nillable="true" type="q9:ArrayOfEasyTreeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_OU_Menu_Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iOuID" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LstStr" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_OU_Menu_SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_OU_Menu_SaveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Role_GetTree">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="iDeleted" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Role_GetTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DbServer.Model" minOccurs="0" name="Sys_Role_GetTreeResult" nillable="true" type="q11:ArrayOfEasyTreeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Role_GetRoleMenuUserByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iRoleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Role_GetRoleMenuUserByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DbServer.Model" minOccurs="0" name="Sys_Role_GetRoleMenuUserByIDResult" nillable="true" type="q12:CommonResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Role_Opr">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DbServer.DTOAuth" minOccurs="0" name="RoleInfo" nillable="true" type="q13:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Role_OprResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_Role_OprResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Role_UserSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iRoleID" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LstUserID" nillable="true" type="q14:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Role_UserSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_Role_UserSaveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Role_MenuSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iRoleID" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LstMenuID" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Role_MenuSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_Role_MenuSaveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Role_GetUserByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iRoleID" type="xs:int" />
        <xs:element minOccurs="0" name="iOuID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_Role_GetUserByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_Role_GetUserByIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_User_Qry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DbServer.DTOAuth" minOccurs="0" name="Usr" nillable="true" type="q16:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_User_QryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_User_QryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_User_Opr">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DbServer.DTOAuth" minOccurs="0" name="Usr" nillable="true" type="q17:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_User_OprResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_User_OprResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_User_Del">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iMode" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LstID" nillable="true" type="q18:ArrayOfint" />
        <xs:element minOccurs="0" name="sUserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sUserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sys_User_DelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sys_User_DelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>