WaterFee.Web/Connected Services/DbServiceReference/Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DbServer.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DbServer.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEasyTreeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EasyTreeData" nillable="true" type="tns:EasyTreeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEasyTreeData" nillable="true" type="tns:ArrayOfEasyTreeData" />
  <xs:complexType name="EasyTreeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="checked" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="children" nillable="true" type="tns:ArrayOfEasyTreeData" />
      <xs:element minOccurs="0" name="iconCls" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EasyTreeData" nillable="true" type="tns:EasyTreeData" />
  <xs:complexType name="MeterConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertVolt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AllowUsed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CloseVolt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FreezeDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InitReading" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Point" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpTiming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpTimingUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValveMaint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValveRuning" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MeterConfig" nillable="true" type="tns:MeterConfig" />
</xs:schema>