WaterFee.Web/Connected Services/DbServiceReference/ServiceDb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceDb" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://118.190.199.54:9009/DbServer/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://118.190.199.54:9009/DbServer/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://118.190.199.54:9009/DbServer/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DbServer.DTO" />
      <xsd:import schemaLocation="http://118.190.199.54:9009/DbServer/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://118.190.199.54:9009/DbServer/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DbServer.Model" />
      <xsd:import schemaLocation="http://118.190.199.54:9009/DbServer/Service.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDb_ArcConcentrator_Qry_InputMessage">
    <wsdl:part name="parameters" element="tns:ArcConcentrator_Qry" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcConcentrator_Qry_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArcConcentrator_QryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcConcentrator_Ins_InputMessage">
    <wsdl:part name="parameters" element="tns:ArcConcentrator_Ins" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcConcentrator_Ins_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArcConcentrator_InsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcConcentrator_Upd_InputMessage">
    <wsdl:part name="parameters" element="tns:ArcConcentrator_Upd" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcConcentrator_Upd_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArcConcentrator_UpdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcConcentrator_GetDict_Status_InputMessage">
    <wsdl:part name="parameters" element="tns:ArcConcentrator_GetDict_Status" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcConcentrator_GetDict_Status_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArcConcentrator_GetDict_StatusResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcConcentrator_GetTree_Level_InputMessage">
    <wsdl:part name="parameters" element="tns:ArcConcentrator_GetTree_Level" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcConcentrator_GetTree_Level_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArcConcentrator_GetTree_LevelResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcCustomer_TreeCommunity_InputMessage">
    <wsdl:part name="parameters" element="tns:ArcCustomer_TreeCommunity" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcCustomer_TreeCommunity_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArcCustomer_TreeCommunityResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcCustomer_Qry_InputMessage">
    <wsdl:part name="parameters" element="tns:ArcCustomer_Qry" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcCustomer_Qry_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArcCustomer_QryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcCustMeter_Ins_InputMessage">
    <wsdl:part name="parameters" element="tns:ArcCustMeter_Ins" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcCustMeter_Ins_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArcCustMeter_InsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcCustMeter_Upd_InputMessage">
    <wsdl:part name="parameters" element="tns:ArcCustMeter_Upd" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcCustMeter_Upd_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArcCustMeter_UpdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_FindMaxIntMPByIntConID_InputMessage">
    <wsdl:part name="parameters" element="tns:FindMaxIntMPByIntConID" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_FindMaxIntMPByIntConID_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindMaxIntMPByIntConIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_FindByIntCustNo_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByIntCustNo" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_FindByIntCustNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByIntCustNoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_GetDictAccountWay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDictAccountWay" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_GetDictAccountWay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDictAccountWayResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_GetDictValveAuto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDictValveAuto" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_GetDictValveAuto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDictValveAutoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_GetDictMeterReplaceType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDictMeterReplaceType" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_GetDictMeterReplaceType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDictMeterReplaceTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_GetMeterReplaceList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMeterReplaceList" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_GetMeterReplaceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMeterReplaceListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcMeter_Replace_InputMessage">
    <wsdl:part name="parameters" element="tns:ArcMeter_Replace" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_ArcMeter_Replace_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArcMeter_ReplaceResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_PriceProperty_GetTreeJson_InputMessage">
    <wsdl:part name="parameters" element="tns:PriceProperty_GetTreeJson" />
  </wsdl:message>
  <wsdl:message name="IServiceDb_PriceProperty_GetTreeJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:PriceProperty_GetTreeJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDb">
    <wsdl:operation name="ArcConcentrator_Qry">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDb/ArcConcentrator_Qry" message="tns:IServiceDb_ArcConcentrator_Qry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDb/ArcConcentrator_QryResponse" message="tns:IServiceDb_ArcConcentrator_Qry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArcConcentrator_Ins">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDb/ArcConcentrator_Ins" message="tns:IServiceDb_ArcConcentrator_Ins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDb/ArcConcentrator_InsResponse" message="tns:IServiceDb_ArcConcentrator_Ins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArcConcentrator_Upd">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDb/ArcConcentrator_Upd" message="tns:IServiceDb_ArcConcentrator_Upd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDb/ArcConcentrator_UpdResponse" message="tns:IServiceDb_ArcConcentrator_Upd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArcConcentrator_GetDict_Status">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDb/ArcConcentrator_GetDict_Status" message="tns:IServiceDb_ArcConcentrator_GetDict_Status_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDb/ArcConcentrator_GetDict_StatusResponse" message="tns:IServiceDb_ArcConcentrator_GetDict_Status_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArcConcentrator_GetTree_Level">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDb/ArcConcentrator_GetTree_Level" message="tns:IServiceDb_ArcConcentrator_GetTree_Level_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDb/ArcConcentrator_GetTree_LevelResponse" message="tns:IServiceDb_ArcConcentrator_GetTree_Level_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArcCustomer_TreeCommunity">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDb/ArcCustomer_TreeCommunity" message="tns:IServiceDb_ArcCustomer_TreeCommunity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDb/ArcCustomer_TreeCommunityResponse" message="tns:IServiceDb_ArcCustomer_TreeCommunity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArcCustomer_Qry">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDb/ArcCustomer_Qry" message="tns:IServiceDb_ArcCustomer_Qry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDb/ArcCustomer_QryResponse" message="tns:IServiceDb_ArcCustomer_Qry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArcCustMeter_Ins">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDb/ArcCustMeter_Ins" message="tns:IServiceDb_ArcCustMeter_Ins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDb/ArcCustMeter_InsResponse" message="tns:IServiceDb_ArcCustMeter_Ins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArcCustMeter_Upd">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDb/ArcCustMeter_Upd" message="tns:IServiceDb_ArcCustMeter_Upd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDb/ArcCustMeter_UpdResponse" message="tns:IServiceDb_ArcCustMeter_Upd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindMaxIntMPByIntConID">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDb/FindMaxIntMPByIntConID" message="tns:IServiceDb_FindMaxIntMPByIntConID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDb/FindMaxIntMPByIntConIDResponse" message="tns:IServiceDb_FindMaxIntMPByIntConID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByIntCustNo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDb/FindByIntCustNo" message="tns:IServiceDb_FindByIntCustNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDb/FindByIntCustNoResponse" message="tns:IServiceDb_FindByIntCustNo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDictAccountWay">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDb/GetDictAccountWay" message="tns:IServiceDb_GetDictAccountWay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDb/GetDictAccountWayResponse" message="tns:IServiceDb_GetDictAccountWay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDictValveAuto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDb/GetDictValveAuto" message="tns:IServiceDb_GetDictValveAuto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDb/GetDictValveAutoResponse" message="tns:IServiceDb_GetDictValveAuto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDictMeterReplaceType">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDb/GetDictMeterReplaceType" message="tns:IServiceDb_GetDictMeterReplaceType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDb/GetDictMeterReplaceTypeResponse" message="tns:IServiceDb_GetDictMeterReplaceType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMeterReplaceList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDb/GetMeterReplaceList" message="tns:IServiceDb_GetMeterReplaceList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDb/GetMeterReplaceListResponse" message="tns:IServiceDb_GetMeterReplaceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArcMeter_Replace">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDb/ArcMeter_Replace" message="tns:IServiceDb_ArcMeter_Replace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDb/ArcMeter_ReplaceResponse" message="tns:IServiceDb_ArcMeter_Replace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PriceProperty_GetTreeJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDb/PriceProperty_GetTreeJson" message="tns:IServiceDb_PriceProperty_GetTreeJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDb/PriceProperty_GetTreeJsonResponse" message="tns:IServiceDb_PriceProperty_GetTreeJson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDb" type="tns:IServiceDb">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ArcConcentrator_Qry">
      <soap:operation soapAction="http://tempuri.org/IServiceDb/ArcConcentrator_Qry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArcConcentrator_Ins">
      <soap:operation soapAction="http://tempuri.org/IServiceDb/ArcConcentrator_Ins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArcConcentrator_Upd">
      <soap:operation soapAction="http://tempuri.org/IServiceDb/ArcConcentrator_Upd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArcConcentrator_GetDict_Status">
      <soap:operation soapAction="http://tempuri.org/IServiceDb/ArcConcentrator_GetDict_Status" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArcConcentrator_GetTree_Level">
      <soap:operation soapAction="http://tempuri.org/IServiceDb/ArcConcentrator_GetTree_Level" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArcCustomer_TreeCommunity">
      <soap:operation soapAction="http://tempuri.org/IServiceDb/ArcCustomer_TreeCommunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArcCustomer_Qry">
      <soap:operation soapAction="http://tempuri.org/IServiceDb/ArcCustomer_Qry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArcCustMeter_Ins">
      <soap:operation soapAction="http://tempuri.org/IServiceDb/ArcCustMeter_Ins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArcCustMeter_Upd">
      <soap:operation soapAction="http://tempuri.org/IServiceDb/ArcCustMeter_Upd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindMaxIntMPByIntConID">
      <soap:operation soapAction="http://tempuri.org/IServiceDb/FindMaxIntMPByIntConID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByIntCustNo">
      <soap:operation soapAction="http://tempuri.org/IServiceDb/FindByIntCustNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDictAccountWay">
      <soap:operation soapAction="http://tempuri.org/IServiceDb/GetDictAccountWay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDictValveAuto">
      <soap:operation soapAction="http://tempuri.org/IServiceDb/GetDictValveAuto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDictMeterReplaceType">
      <soap:operation soapAction="http://tempuri.org/IServiceDb/GetDictMeterReplaceType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeterReplaceList">
      <soap:operation soapAction="http://tempuri.org/IServiceDb/GetMeterReplaceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArcMeter_Replace">
      <soap:operation soapAction="http://tempuri.org/IServiceDb/ArcMeter_Replace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PriceProperty_GetTreeJson">
      <soap:operation soapAction="http://tempuri.org/IServiceDb/PriceProperty_GetTreeJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDb">
    <wsdl:port name="BasicHttpBinding_IServiceDb" binding="tns:BasicHttpBinding_IServiceDb">
      <soap:address location="http://118.190.199.54:9009/DbServer/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>