WaterFee.Web/Connected Services/DbServiceReference/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://118.190.199.54:9009/DbServer/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DbServer.DTO" />
  <xs:import schemaLocation="http://118.190.199.54:9009/DbServer/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DbServer.Model" />
  <xs:element name="ArcConcentrator_Qry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Concent" nillable="true" type="q1:Concentrator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_QryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArcConcentrator_QryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_Ins">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Concent" nillable="true" type="q2:Concentrator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_InsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArcConcentrator_InsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_Upd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Concent" nillable="true" type="q3:Concentrator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_UpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArcConcentrator_UpdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_GetDict_Status">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_GetDict_StatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArcConcentrator_GetDict_StatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_GetTree_Level">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_GetTree_LevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="ArcConcentrator_GetTree_LevelResult" nillable="true" type="q4:ArrayOfConcentrator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcCustomer_TreeCommunity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcCustomer_TreeCommunityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DbServer.Model" minOccurs="0" name="ArcCustomer_TreeCommunityResult" nillable="true" type="q5:ArrayOfEasyTreeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcCustomer_Qry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Cust" nillable="true" type="q6:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcCustomer_QryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArcCustomer_QryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcCustMeter_Ins">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Cust" nillable="true" type="q7:Customer" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="meter" nillable="true" type="q8:Meter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcCustMeter_InsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArcCustMeter_InsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcCustMeter_Upd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Cust" nillable="true" type="q9:Customer" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="meter" nillable="true" type="q10:Meter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcCustMeter_UpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArcCustMeter_UpdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>