WaterFee.Web/Connected Services/DbServiceReference/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://118.190.199.54:9009/DbServer/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DbServer.DTO" />
  <xs:import schemaLocation="http://118.190.199.54:9009/DbServer/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DbServer.Model" />
  <xs:element name="SayHello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_Qry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Concent" nillable="true" type="q1:Concentrator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_QryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArcConcentrator_QryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_Ins">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Concent" nillable="true" type="q2:Concentrator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_InsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArcConcentrator_InsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_Upd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Concent" nillable="true" type="q3:Concentrator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_UpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArcConcentrator_UpdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_GetDict_Status">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_GetDict_StatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArcConcentrator_GetDict_StatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_GetTree_Level">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcConcentrator_GetTree_LevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="ArcConcentrator_GetTree_LevelResult" nillable="true" type="q4:ArrayOfConcentrator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcCustomer_TreeCommunity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcCustomer_TreeCommunityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DbServer.Model" minOccurs="0" name="ArcCustomer_TreeCommunityResult" nillable="true" type="q5:ArrayOfEasyTreeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcCustomer_Qry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Cust" nillable="true" type="q6:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcCustomer_QryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArcCustomer_QryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcCustMeter_Ins">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Cust" nillable="true" type="q7:Customer" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="meter" nillable="true" type="q8:Meter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcCustMeter_InsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArcCustMeter_InsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcCustMeter_Upd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Cust" nillable="true" type="q9:Customer" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="meter" nillable="true" type="q10:Meter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcCustMeter_UpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArcCustMeter_UpdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMaxIntMPByIntConID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IntConID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMaxIntMPByIntConIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DbServer.Model" minOccurs="0" name="FindMaxIntMPByIntConIDResult" nillable="true" type="q11:CommonResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIntCustNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IntCustNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIntCustNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DbServer.Model" minOccurs="0" name="FindByIntCustNoResult" nillable="true" type="q12:CommonResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictAccountWay">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictAccountWayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDictAccountWayResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictValveAuto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictValveAutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDictValveAutoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictMeterReplaceType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictMeterReplaceTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDictMeterReplaceTypeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeterReplaceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="QryCondi" nillable="true" type="q13:MeterReplaceQryCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeterReplaceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMeterReplaceListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcMeter_Replace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="MeterReplace" nillable="true" type="q14:MeterReplaceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcMeter_ReplaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArcMeter_ReplaceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcCloseAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element minOccurs="0" name="iCustNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArcCloseAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArcCloseAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceType_Qry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceType_QryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PriceType_QryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceType_Ins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="priceType" nillable="true" type="q15:PriceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceType_InsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PriceType_InsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceType_Upd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="priceType" nillable="true" type="q16:PriceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceType_UpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PriceType_UpdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceType_GetTreeJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceType_GetTreeJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="PriceType_GetTreeJsonResult" nillable="true" type="q17:ArrayOfPriceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceProperty_GetTreeJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceProperty_GetTreeJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="PriceProperty_GetTreeJsonResult" nillable="true" type="q18:ArrayOfPricePropertyTree" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceProperty_GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceProperty_GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="PriceProperty_GetListResult" nillable="true" type="q19:ArrayOfPriceProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceProperty_GetByNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iPropertyNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceProperty_GetByNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PriceProperty_GetByNoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceProperty_AddOrUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Property" nillable="true" type="q20:PriceProperty" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="LstPrice" nillable="true" type="q21:ArrayOfPriceDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceProperty_AddOrUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PriceProperty_AddOrUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SMS_Template_Qry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Template" nillable="true" type="q22:SmsTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SMS_Template_QryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SMS_Template_QryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SMS_Template_InsOrUpd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Template" nillable="true" type="q23:SmsTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SMS_Template_InsOrUpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SMS_Template_InsOrUpdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_GetMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Cust" nillable="true" type="q24:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_GetMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Account_GetMoneyResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_GetDepositDetailByCustNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element minOccurs="0" name="iCustNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_GetDepositDetailByCustNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Account_GetDepositDetailByCustNoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_GetDebtByCustNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element minOccurs="0" name="iCustNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_GetDebtByCustNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Account_GetDebtByCustNoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_GetWriteoffByCustNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element minOccurs="0" name="iCustNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_GetWriteoffByCustNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Account_GetWriteoffByCustNoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_DepositOperate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element minOccurs="0" name="iCustNo" type="xs:int" />
        <xs:element minOccurs="0" name="NumMoney" type="xs:double" />
        <xs:element minOccurs="0" name="sRemark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="sReceiptNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_DepositOperateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DbServer.Model" minOccurs="0" name="Account_DepositOperateResult" nillable="true" type="q25:CommonResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_GetDepositInvoiceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element minOccurs="0" name="sFlowNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_GetDepositInvoiceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Account_GetDepositInvoiceInfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_GetDepositDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="DtStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DtEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_GetDepositDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Account_GetDepositDetailResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_GetBillByCustNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element minOccurs="0" name="iCustNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_GetBillByCustNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DbServer.Model" minOccurs="0" name="Account_GetBillByCustNoResult" nillable="true" type="q26:CommonResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_GetPaymentNotice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Cust" nillable="true" type="q27:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_GetPaymentNoticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Account_GetPaymentNoticeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_GetPaymentDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element minOccurs="0" name="iFeeID" type="xs:int" />
        <xs:element minOccurs="0" name="DtStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DtEnd" type="xs:dateTime" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Cust" nillable="true" type="q28:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account_GetPaymentDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Account_GetPaymentDetailResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatDepositData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element minOccurs="0" name="iParamMode" type="xs:int" />
        <xs:element minOccurs="0" name="sParamValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iStatMode" type="xs:int" />
        <xs:element minOccurs="0" name="DteBegin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DteEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatDepositDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DbServer.Model" minOccurs="0" name="StatDepositDataResult" nillable="true" type="q29:CommonResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatUsedWaterData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element minOccurs="0" name="iParamMode" type="xs:int" />
        <xs:element minOccurs="0" name="sParamValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DteBegin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DteEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatUsedWaterDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DbServer.Model" minOccurs="0" name="StatUsedWaterDataResult" nillable="true" type="q30:CommonResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatClientArcData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element minOccurs="0" name="DteBegin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DteEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatClientArcDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DbServer.Model" minOccurs="0" name="StatClientArcDataResult" nillable="true" type="q31:CommonResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectData_Qry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Cust" nillable="true" type="q32:Customer" />
        <xs:element minOccurs="0" name="DteStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DteEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectData_QryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CollectData_QryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectStatus_Qry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Cust" nillable="true" type="q33:Customer" />
        <xs:element minOccurs="0" name="DteStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DteEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectStatus_QryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CollectStatus_QryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectData_Ins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element minOccurs="0" name="iCustNo" type="xs:int" />
        <xs:element minOccurs="0" name="sAddr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DteFreeze" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dReading" type="xs:double" />
        <xs:element minOccurs="0" name="sUserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectData_InsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CollectData_InsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Terminal_SetMeterConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element minOccurs="0" name="sAddrs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iParamID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Terminal_SetMeterConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Terminal_SetMeterConfigResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Terminal_GetMeterSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Cust" nillable="true" type="q34:Customer" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="meter" nillable="true" type="q35:Meter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Terminal_GetMeterSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Terminal_GetMeterSettingResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Terminal_GetValveTaskResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
        <xs:element minOccurs="0" name="sParam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iCmdType" type="xs:int" />
        <xs:element minOccurs="0" name="DtStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DtEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Terminal_GetValveTaskResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DbServer.Model" minOccurs="0" name="Terminal_GetValveTaskResultResult" nillable="true" type="q36:CommonResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Param_MeterConfig_GetTree">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Param_MeterConfig_GetTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="Param_MeterConfig_GetTreeResult" nillable="true" type="q37:ArrayOfMeterConfigTree" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Param_MeterConfig_Qry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Param_MeterConfig_QryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Param_MeterConfig_QryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Param_MeterConfig_Opr">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/DbServer.DTO" minOccurs="0" name="MeterConf" nillable="true" type="q38:MeterConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Param_MeterConfig_OprResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Param_MeterConfig_OprResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>